@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


/*********************************************/
/***************  Wrapper  ********************/
/*********************************************/
.portfolio-page__wrapper {
  position: relative;
  max-width: var(--maxWidthSections);
  margin: 0 auto;
  background-color: var(--lightGreyColour);
  color: var(--textDarkColour);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  min-height: 100vh;
}


/*********************************************/
/***************  Images  ********************/
/*********************************************/
.portfolio-page__image-background {
  width: 45%;
  height: 90vh;
  background-color: var(--lightGreyColour);
}
.portfolio-page__image {
  position: absolute;
  width: 50%;
  height: calc(90vh - 8% - 16%);
  top: 8%;
  left: 2%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}


/*********************************************/
/*****************  Text  *********************/
/*********************************************/
.portfolio-page__text {
  width: 50%;
  height: 100%;
  padding: 7% 7% 5% 10%;
  margin: auto;
  text-align: left;
}
.portfolio-page__title-text {
  font-family: 'Della Respira', serif;
  margin-bottom: 40px;
  font-weight: 600;
}
.portfolio-page__responsible-for-container, .portfolio-page__tools-container {
  margin-bottom: 10px;
}
.portfolio-page__bold-text {
  font-weight: bold;
}
.portfolio-page__project-description-container {
  padding: 0px 50px;
  margin-left: -50px;
  margin-top: -10px;
}


/*********************************************/
/***************  Buttons   ******************/
/*********************************************/
.portfolio-page__view-btn-container {
  margin-right: 50px;
  margin-top: 0px;
  margin-bottom: 40px;
}
.portfolio-page__view-btn {
  outline: none;
  padding: 15px 50px;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--lightColour);
  border: 6px solid;
  font-weight: 600;
  -webkit-transition: border 1s; /* For Safari 3.0 to 6.0 */
  -o-transition: border 1s;
  transition: border 1s; 
  cursor: pointer;
}
.portfolio-page__view-btn:hover, .portfolio-page__view-btn:focus, .portfolio-page__view-btn:active {
  color: var(--lightColour);
}
.portfolio-page__view-btn:hover {
  border: 6px solid white !important;
}


/*********************************************/
/*********  Media Queries ********************/
/*********************************************/
/* iPad Pro */
@media(min-width: 1000px) and (min-height: 1200px) {
  .portfolio-page__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .portfolio-page__image-background {
    width: 80%;
    height: 50vh;
  }
  .portfolio-page__image {
    width: 90%;
    height: calc(50vh - 3% - 5%);
    top: 3%;
    left: 7%;
  }
  .portfolio-page__text {
    width: 100%;
    padding-left: 7%;
    padding-right: calc(100% - 80%)
  }
  .portfolio-page__view-btn {
    margin-top: -25px;
  }
}


@media(max-width: 1000px) {
  .portfolio-page__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .portfolio-page__image-background {
    width: 80%;
    height: 70vh;
  }
  .portfolio-page__image {
    width: 90%;
    height: calc(70vh - 3% - 5%);
    top: 3%;
    left: 7%;
  }
  .portfolio-page__text {
    width: 100%;
    padding-left: 7%;
    padding-right: calc(100% - 90%)
  }
  .portfolio-page__view-btn {
    margin-top: -25px;
  }
}

@media(max-width: 800px) {
  .portfolio-page__image-background {
    width: 90%;
    height: 60vh;
  }
  .portfolio-page__image {
    width: 90%;
    height: calc(60vh - 3% - 5%);
    top: 3%;
    left: 5%;
  }
}

@media(max-width: 500px) {
  .portfolio-page__image-background {
    height: 45vh;
  }
  .portfolio-page__image {
    height: calc(45vh - 2% - 3%);
    top: 2%;
    left: 5%;
  }
  .portfolio-page__project-description-container {
    padding: 0px 0px 0px 50px;
  }
}

@media(max-width: 380px) {
  .portfolio-page__image {
    width: 90%;
    height: calc(45vh - 1% - 2%);
    top: 1%;
    left: 5%;
  }
}