@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#contact {
  max-width: 1600px;
  margin: auto;
  position: relative;
}


.contact__title-container {
  margin-top: 80px;
  position: relative;
  height: 100px;
  width: 50%;
  z-index: 2;
}
.contact__title-text {
  font-weight: 300;
  font-size: 48px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.contact__title-background {
  height: 100%;
  width: 100%;
  background-color: var(--blueColour);
  filter: url(#static-noise);
}





.contact__social-container {
  margin-top: 80px;
  position: relative;
  height: 100px;
  width: 100%;
}
.contact__social-text {}
.contact__social-background {
  position: absolute;
  top: -230px;
  right: 0px;
  height: 100%;
  width: 30%;
  background-color: var(--purpleColour);
  filter: url(#static-noise);
}



#contact__decoration {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: -1;
}




/****************  Form  *******************/

#contact__contact-form-container {
  z-index: 1;
}


#contact__contact-form { 
  margin-top: 50px;
  margin-left: 200px; 
  width: calc(50% - 200px);
}

.contact__label {
  color: var(--lightColour);
}

.contact__input {
  color:var(--textDarkColour);
  border-radius: 0;
  background-color: var(--lightColour);
  border: 2px solid var(--lightColour);
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  outline:0;
}

.contact__input:focus { 
  border: 3px solid var(--blueColour); 
}

#contact__message {
  height: 150px;
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
}

#contact__submit-btn {
  width: 50%;
  background: var(--blueColour);
  cursor: pointer;
  outline: none;
  border: none;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
}
#contact__submit-btn:hover { background:#CC4949; }

@media(max-width: 1200px) {
  .contact__title-container {
    width: 60%;
  }
  #contact__contact-form {
    margin-left: 100px; 
    width: calc(60% - 100px);
  }
}

@media(max-width: 1000px) {
  .contact__title-container {
    width: 70%;
  }
  #contact__contact-form {
    margin-left: 100px; 
    width: calc(70% - 100px);
  }
}

@media(max-width: 700px) {
  .contact__title-container {
    width: 80%;
  }
  #contact__contact-form {
    margin-left: 60px; 
    width: calc(80% - 60px);
  }
}


@media(max-width: 500px) {
  .contact__title-container {
    width: 100%;
  }
  .contact__title-text {
    right: 50px;
  }
  #contact__contact-form {
    margin-left: 50px; 
    margin-right: 50px;
    width: calc(100% - 100px);
  }
}