#hero-section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 95vh;
}

/***************** Text in the about section *************************/
#hero-text-container {
  color: var(--textLightcolour);
  position: absolute;
  top: 28vh;
  left: 0;
  z-index: 2;
  width: 500px;
  margin-left: 100px;
}

.name {
  font-size: 85px;
  font-family: 'Della Respira', serif;
  font-weight: 400;
  text-shadow: 4px 4px 0px rgba(78, 27, 52, 0.3);
  mix-blend-mode: screen;
  cursor: default;

}
.personal-description {
  font-size: 1.2em;
  font-weight: 200;
}

/******************** Viz in the header *****************************/
#header-viz-container {
  position: absolute;
  top: 50px;
  left: -100px;
  width: 100%;
  text-align: right;
}


/***************************** Menu  *********************************/

#hero-menu-container {
  margin-top: 40px;
  width: 400px;
  margin-left: 100px;
  color: var(--lightColour);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content:space-between;
  z-index: 2;
}

.menu-item {
  padding: 10px;
  text-decoration: none;
  margin-right: 20px;
  cursor: default;
  -webkit-transition: background-color 1s; /* For Safari 3.0 to 6.0 */
  transition: background-color 1s; /* For modern browsers */
}

.menu-item:hover {
  background-color: rgba(13, 131, 131, 0.5);
}

.menu-underline {
  background-color: var(--blueColour);
  height: 10px;
  margin-left: 100px;
  width: 408px;
  filter: url(#static-noise);
  opacity: 1;
}



/******************** Media Queries *****************************/

/* Tablet */

/* iPad Pro */
@media(min-width: 1000px) and (min-height: 1200px) {
  #hero-section {
    height: 55vh;
  }
  #hero-text-container {
    top: 17vh;
  }  
  .personal-description {
    width: 400px;
  }
  .name {
    font-size: 70px;
  }
}
/* Regular iPad */
@media(min-width: 700px) and (max-width: 1000px) and (min-height: 900px) and (max-height: 1200px) {
  #hero-section {
    height: 85vh;
  }
  #hero-text-container {
    bottom: 10vh;
    width: 400px;
  }  
  .name {
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}


@media(max-width: 1000px) {
  #hero-text-container {
    top: 38vh;
  }  
  #header-viz-container {
    top: 6vh;
  }
}

@media(max-width: 650px) {
  #hero-text-container, #hero-menu-container, .menu-underline {
    margin-left: 70px;
  } 
  #hero-text-container {
    width: 450px;
    top: 35vh;
  }
  .name {
    font-size: 65px;
  }
  .personal-description {
    font-size: 1.0em;
  }
  #header-viz-container {
    top: 10vh;
  }
}

/* Very large phones or small tablets */
@media(max-width: 500px) {
  #hero-text-container {
    margin-left: 50px;
    width: 350px;
    top: 36vh;
  } 
  #hero-menu-container, .menu-underline {
    width: 80%;
    margin-left: 10%;
    font-size: 14px;
  }
  .name {
    font-size: 65px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  #header-viz-container {
    top: 10vh;
    left: -30px;
  } 
}

/* Medium-large phones like the Pixel 2 XL */
@media(max-width: 420px) {
  #hero-text-container {
    width: 300px;
    top: 36vh;
  }
  #hero-menu-container, .menu-underline {
    width: 100%;
    margin-left: 0;
  }
  #hero-menu-container {
    margin-top: 15px;
  }
  .menu-item {
    margin-right: 0px;
  }
  .name {
    font-size: 55px;
  }
}

/* Small phone like older iPhones*/
@media(max-width: 360px) {
  #hero-text-container {
    margin-left: 30px;
  } 
}

/* very small phone like the Galaxy Fold */
@media(max-width: 320px) {
  #hero-text-container {
    margin-left: 20px;
    width: 260px;
  } 
  #hero-menu-container {
    font-size: 12px;
  }
}

