/***************  Wrapper  ********************/
.panel-left__wrapper, .panel-right__wrapper {
  position: relative;
  max-width: var(--maxWidthSections);
  margin: 0 auto;
  background-color: #E5E5E5;
  color: var(--textDarkColour);
  display: flex;
  padding-bottom: 50px;
}

/***************  Images  ********************/
.panel-left__image-background, .panel-right__image-background {
  width: 50%;
  background-color: #E5E5E5; /* default or fallback */
  height: 400px;
}

.panel-left__image, .panel-right__image {
  position: absolute;
  top: 8%;
  width: 50%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}
.panel-left__image {
  left: 5%;
}
.panel-right__image {
  right: 5%;
}

/*****************  Text  *********************/
.panel-left__text, .panel-right__text {
  width: 50%;
  height: 100%;
  background-color: #E5E5E5;
  margin: auto;
}

.panel-left__text {
  text-align: left;
  padding-left: 10%;
}

.panel-right__text {
  text-align: right;
  padding-right: 10%;
}

.panel-left__title-text, .panel-right__title-text {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #1D1A1A;
}

.panel-left__title-text.gradient span, .panel-right__title-text.gradient span {
  background: linear-gradient(0deg, rgba(255,0,255,0) 0%, rgba(255,0,255,0) 16%, #B7B7B7 16%, #B7B7B7 41%, rgba(255,0,255,0) 41%);
}

.panel-left__title-text.padding span, .panel-right__title-text.padding span {
  padding: 0.9em 0.1em 0.7em 0.1em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.panel__responsible-for-container, .panel__tools-container {
  margin-bottom: 10px;
}

.panel__client-container {

}
.panel__bold-text {
  font-weight: bold;
}

/*********************************************/
.view-btn, .about-btn {
  margin-right: 20px;
  margin-top: 50px;
  outline: none;
  padding: 10px 15px;
  width: 110px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}
.view-btn {
  border: 5px solid;
  color: var(--lightColour);
}
.about-btn {
  border: 5px solid #B7B7B7;
  color: #B7B7B7;
}


/*********************************************/
@media(max-width: 900px) {
  .panel-left__wrapper {
    flex-direction: column;
  }
  .panel-right__wrapper {
    flex-direction: column-reverse;
  }
  .panel-left__image-background, .panel-right__image-background  {
    width: 80%;
  }
  .panel-left__text, .panel-right__text {
    width: 100%;
    text-align: left;
    padding-left: 10%;
  }
  .panel-left__image, .panel-right__image {
    width: 80%;
  }
  .panel-left__image {
    left: 10%;
  }
  .panel-right__image {
    right: 10%;
  }
}