#portfolio-container-background {
  width: 100%;
  background-color: var(--lightGreyColour);
}
#portfolio-container {
  max-width: var(--maxWidthSections);
  margin: auto;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 100px;
  background-color: var(--lightGreyColour);
  color: var(--textDarkColour);
}


/*************************************/
/**********  Portfolio Grid **********/
/*************************************/
.portfolio-grid {
  display: grid;
  width: 65%;
  margin: auto;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 80px;
}
.portfolio-grid-entry {
  width: 100%;
  height: 280px;
  background-color: grey;
  align-self: center;
  justify-self: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}


/*************************************/
/********  Portfolio Grid Btn  *******/
/*************************************/

.portfolio-grid-btn {
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
  transition: background-color 2s; 
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  -webkit-filter: url(#static-noise);
  filter: url(#static-noise);
}
.portfolio-grid-btn:hover {
  opacity: 0.8;
}
.full-project:hover {
  background-color: var(--purpleColour);
}
.individual-viz:hover {
  background-color: var(--blueColour);
}

.portfolio-grid-project-title {
  position: absolute;
  bottom: 65%;
  left: 50%; 
  transform: translate(-50%,0);
  width: 100%;
  padding: 5px;
  text-shadow: 1px 1px 0px rgba(184, 184, 184, 0.4);
  mix-blend-mode: screen;
  cursor: default;
}

.border-button {
  text-transform: uppercase;
  outline: none;
  padding: 7% 14%;
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px var(--lightGreyColour);
  transition: box-shadow 0.6s linear;
  margin: 0.5em; 
  -webkit-transition: background-color box-shadow 1s;
  -o-transition: background-color box-shadow 1s;
  transition: background-color box-shadow font-weight 1s; 
}
.border-button:hover { 
  background-color: white;
  opacity: 1 !important;
}
.individual-viz-btn {
  border: 3px solid var(--blueColour);
}
.individual-viz-btn:hover {
  color: var(--blueColour);
  box-shadow: 0px 0px 0px 10px var(--blueColour); 
}
.full-project-btn {
  border: 3px solid var(--purpleColour);
}
.full-project-btn:hover {
  color: var(--purpleColour);
  box-shadow: 0px 0px 0px 10px var(--purpleColour); 
}


/*************************************/
/************* Container ************/
/*************************************/
#portfolio__projects-container-styles, #portfolio__standalone-container-styles {
  width: 65%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
#portfolio__projects-container-styles {
  border-left: 10px solid var(--purpleColour);
}
#portfolio__standalone-container-styles {
  border-left: 10px solid var(--blueColour);
}
#portfolio__projects-text-styles, #portfolio__standalone-text-styles {
  color: var(--textMediumColour)
}

/*************************************/
/*************  Media  ***************/
/*************************************/
@media(max-width: 1300px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 70%;
  }
}
@media(max-width: 1200px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 75%;
  }
}
@media(max-width: 1100px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 80%;
  }
  .portfolio-grid-entry {
    height: 250px;
  }
}
@media(max-width: 1000px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 85%;
  }
  .portfolio-grid-entry {
    height: 260px;
  }
}
@media(max-width: 900px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 90%;
  }
  .portfolio-grid-entry {
    height: 240px;
  }
}
@media(max-width: 800px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-grid-entry {
    height: 280px;
  }
}
@media(max-width: 700px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 90%;
  }
  .portfolio-grid-entry {
    height: 260px;
  }
}
@media(max-width: 600px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 95%;
  }
  .portfolio-grid-entry {
    height:220px;
  }
}
@media(max-width: 500px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 95%;
  }
  .portfolio-grid-entry {
    height:200px;
  }
  .portfolio-grid-project-title {
    /*top: 10%;*/
  }
}
@media(max-width: 450px) {
  .portfolio-grid, #portfolio__projects-container-styles, #portfolio__standalone-container-styles {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-grid-project-title {
    /*top: 13%;*/
  }
}